[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git://github.com/petdance/vim-perl.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/perldoc-vim"]
	path = bundle/perldoc-vim
	url = git://github.com/hotchpotch/perldoc-vim.git
[submodule "bundle/hatena-vim"]
	path = bundle/hatena-vim
	url = git://github.com/motemen/hatena-vim.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
